<!--
<div class="overlay" *ngIf="isLoading$ | async">
<div class="lds-roller"><div></div><div></div><div></div>
<div></div><div></div><div></div><div></div><div></div></div>
</div>

  <div class="overlay" *ngIf="isLoading$ | async">
<div class="lds-spinner"><div></div><div></div><div></div>
<div></div><div></div><div></div><div></div><div></div>
<div></div><div></div><div></div><div></div></div>
</div>


<div class="overlay" *ngIf="isLoading$ | async">
<div class="lds-ellipsis"><div></div><div></div><div></div>
<div></div></div>
</div>
 -->
<div class="overlay" *ngIf="isLoading$ | async">
<div class="lds-dual-ring"></div>
</div>
