<h1 mat-dialog-title>Productos Sin Plan</h1>
<div mat-dialog-content>
    
    <form class="example-form" [formGroup]="productosSinPlanForm" >
        <div class="example-container">
            <div formArrayName="items" style="margin-top: 15px ;" *ngFor="let item of productosSinPlanForm.get('items')['controls']; let i = index">
                <div [formGroupName]="i">
        <mat-form-field class="codigoOriginal">
            <mat-label>Código Original</mat-label>
            <input matInput formControlName="codigoOriginal">
        </mat-form-field>

        <mat-form-field class="referencia" >
            <mat-label>Código de Referencia</mat-label>
            <input matInput formControlName="referencia">
        </mat-form-field>  

        <mat-form-field class="descripcion" >
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcion" >
        </mat-form-field>

        <mat-form-field class="plan" >
            <mat-label>Establecer Plan</mat-label>
            <input matInput type="number" formControlName="plan" >
        </mat-form-field>
        </div>
        </div>
    </div>
    </form>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
    <button mat-raised-button color="primary" (click)= "enviarPlan()">Enviar</button>
  </div>

